.blog-new {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &__title {
        padding: 0 45px 0 45px;
    }
}


.blog-content__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 160px;
    border: 1px solid #018ABE;
    padding: 50px 60px 50px 60px;
    border-radius: 20px;

    &-second__date {
        font-size: 14px;
        color: #FFFFFF;
        left: 35px;
        bottom: 203px;
        padding: 6px 12px 6px 12px;
        border: solid 1px;
        border-radius: 5px;
        background-color: #018ABE;
        margin-right: 500px;


        &-subtitle {
            font-size: 24px;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
    }
    &-second__text {
        font-size: 10px;
        color: #FFFFFF;
        font-family: 'Proxima Nova Rg';
        padding-bottom: 15px;
    }
}
.blog-content__button {
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border: solid 1px;
    border-radius: 5%;
    background-color: #018ABE;
 }

 