.map {
    margin-top: 150px;
    margin-bottom: 138px;

    &-wrapper {
        display: flex;
        gap: 48px;
    }

    &-right__f {
        border: solid 1px;
        border-radius: 2%;
        background-color: $strong-blue;
        padding: 35px 45px;
        margin-bottom: 44px;

        &-title {
            color: $white;
            font-size: 24px;
        }
    }

    &-location {
        padding: 0;
        list-style-type: none;

        &__li {
            padding-bottom: 22px;

            &-subtitle {
                color: $white;
                padding-left: 22px;
                font-size: 14px;
            }

        }
    }

    &-button {
        margin-top: 30px;

        &-bt {
            border: solid 1px;
            background-color: $white;
            padding: 9px 15px 9px 15px;
            color: $strong-blue;

            &:hover { 
                background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
                box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
            }
                
        }
    }

    &-part__s {
        border: solid 1px;
        border-radius: 2%;
        background-color: #018ABE;
        padding: 35px 29px;

        &-title {
            color: #FFFFFF;
            font-size: 24px;
        }
    }
    &-title {
        display: none;
    }
    &-left {
        width: 856px;
        height: 700px;
    }
}

@media(max-width: 1024px) {
    .map-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .map-left {
        width: 800px;
        height: 500px;
       
    }
    .map-right {
        display: flex;
        gap: 172px;

        &__f {
            margin-bottom: 0;
        }
    }
}
@media(max-width: 768px) {
   .map-left{
        width: 700px;
        height: 400px;
   } 
}

@media(max-width: 768px) {
    .map {
        margin-bottom: 0;
    }
    .map-right {
        display: flex;
        flex-direction: column;
        gap: 25px;
        
    }
}
@media(max-width: 600px) {
    .map-title {
        display: inline;
        display: flex;
        justify-content: center;
        gap: 45px;
    }
}