*{
    box-sizing: border-box;
    };

body {
    background-color: $very-dark;
    font-family: 'Proxima Nova Rg';
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}









